/.vs/*
/.vscode/*
/Intel-Fortran-Debug/
/Intel-Fortran-Release/
/docs/ford_generated*
/docs/html
/docs/latex
/docs/user/_*
/docs/dll/_*
/build*
/out
*.exp
*.lib
*.obj
*.idb
*.pdb
*.dll
*.mod
*.exe
*.out
*.png
*.h5
*.hdf
*.hdf5
*.vtk
*.gnu
heatmap*
*.mp4
*.pyc
~*
/out/
*.xlsx
dash.bat
__pycache__
/lib*
/pyvenv.cfg
/bin
.raddbg

!/.vs/launch.vs.json
!/docs/logo/*.png
!/docs/user/_static/*.png
!/docs/user/_static/*.mp4
